@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.page-header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: green;
        &__nav{
        display: flex;
        align-items: baseline;
        margin: 0 auto;
            &-link{
            margin: 0 25px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.3;
            color: #1F1E1E;
            text-decoration: none;
            transition: color 0.2s;
            }
        }
        &__logo{
        flex-shrink: 0;
        width: 202px;
        height:  147px;
        text-decoration: none;
        font-size: 0;
            &-icon{
            width: 100%;
            height: 100%;
            }
        }
}

.page-header__nav-link:hover{
    color: #BC3324;
}

.page-header__nav-link:active{
    color: #BC3324;
}

.page-header__container{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    padding: 0px 40px 0px 40px;
}

.page-header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: green;
   &__logo{
	flex-shrink: 0;
    width: 202px;
    height:  147px;
    text-decoration: none;
    font-size: 0;
   }
   &__logo-icon{
	width: 100%;
    height: 100%;
   }
   &__nav{
	display: flex;
    align-items: baseline;
    margin: 0 auto;
   }
   &__nav-link{
	margin: 0 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: #1F1E1E;
    text-decoration: none;
    transition: color 0.2s;
	&:hover{
		color: #BC3324;
	}
	&:active{
		color: #BC3324;
	}
   }
   &__container{
	box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    padding: 0px 40px 0px 40px;
   }
}

