@import "../global/_vars";
@import "../global/_fonts";
@import "../global/settings";


.page-header__container{
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  padding: 0px 40px 0px 40px;
}

.page-header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  background: rgba(222, 222, 222, 0.5);
  z-index: 100;
 &__logo{
flex-shrink: 0;
  width: 202px;
  height:  147px;
  text-decoration: none;
  font-size: 0;
 }
 &__logo-icon{
width: 100%;
  height: 100%;
 }
 &__nav{
display: flex;
  align-items: baseline;
  margin: 0 auto;
 }
 &__nav-link{
margin: 0 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: $black;
  text-decoration: none;
  transition: color 0.2s;
    &:hover{
      color:$red_dark;
      }
}
&:active{
  color:$red_dark;
}

 &__container{
box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  padding: 0px 40px 0px 40px;
 }
 &__right-block{
  width: 202px;
  display: flex;
  justify-content: flex-end;
  }
}

@supports (backdrop-filter: blur(20px)){
  .page-header{
      backdrop-filter: blur(20px);
      background: rgba(222, 222, 222, 0.5);
  }
}
