@import "../global/_vars";
@import "../global/_fonts";
@import "../global/settings";

.btn {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding: 15px 40px;
  border: solid 1px $black;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: $black;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  transition: color 0.2s, background-color 0.2s;
  &:hover,
  &:active{
      color: white;
      background-color: $black;
  }
}

.bigbtn {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding: 8px 45px;
  line-height: 1.3;
  text-decoration: none;
  outline: none;
  transition: color 0.2s, background-color 0.2s;

  width: 624px;
  font-size: 36px;
  font-family: $font2;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  background-color: $black;
  border: solid 1px $black;
  margin-bottom: 150px;
  &:hover,
    &:active{
      color: white;
      background-color: #141414;
      border: solid 1px #141414;
  }
}

