@import "../global/_vars";
@import "../global/_fonts";
@import "../global/settings";


.events{
  box-sizing: border-box;
  max-width: 1414px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
