@import "../global/_vars";
@import "../global/_fonts";
@import "../global/settings";

.events {
  box-sizing: border-box;
  max-width: 1414px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__listing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bigbtn {
    margin-top: 120px;
  }
  &__table {
    width: 100%;
  }
}

.events-main {
  box-sizing: border-box;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  &__listing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bigbtn {
    margin-top: 120px;
  }
}
