@import "../global/_vars";
@import "../global/_fonts";
@import "../global/settings";

.lenni {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 58px;
    font-family: $font2;
    padding-bottom: 70px;
    align-items: center;
    font-weight: 400;
    text-align: center;

    @include media($max-w1340) {
      max-width: 632px;
      font-size: 35px;
      line-height: 45px;
    }
    @include media($max-w768) {
      max-width: 374px;
      padding-bottom: 51px;

      font-size: 30px;
      line-height: 38px;
    }
    @include media($max-w600) {
      max-width: 374px;
      font-size: 20px;
      line-height: 28px;
    }
    @include media($max-w320) {
      max-width: 152px;
      font-size: 13px;
      line-height: 13px;
      padding-bottom: 29px;
    }
    &-bottom {
      padding-bottom: 100px;
      @include media($max-w1340) {
        max-width: 732px;
        font-size: 35px;
        line-height: 45px;
      }
      @include media($max-w768) {
        max-width: 633px;
        padding-bottom: 73px;

        font-size: 30px;
        line-height: 38px;
      }
      @include media($max-w600) {
        max-width: 474px;
        font-size: 20px;
        line-height: 28px;
      }
      @include media($max-w320) {
        max-width: 274px;
        font-size: 13px;
        line-height: 13px;
        padding-bottom: 40px;
      }
    }
  }
  &__img {
    padding-bottom: 70px;
    @include media($max-w768) {
      padding-bottom: 49px;
    }
    @include media($max-w320) {
      padding-bottom: 28px;
    }
  }
  &__box {
    max-width: 948px;
    width: 100%;
  }
}
