// @import "/src/scss/_mixins";
@import "../global/_vars";
@import "../global/settings";
@import "../mixins";

.radio {
  display: flex;
  flex-direction: column;
  // align-items: center;
  &__item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 23px;
    margin-bottom: 21px;
    padding-left: 29px;
    color: $black;
    cursor: pointer;
    @include media($max-w1660) {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__mark {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    border: 2px solid $black;
    border-radius: 50%;
    padding: 3px;
    background-clip: content-box;
    background-color: transparent;
    transition: background-color 0.2s;
  }
  &__input {
    @extend .is-hidden;
    &:checked {
      & ~ .radio__mark {
        background-color: $black;
      }
    }
  }
  &__label {
    margin-left: 20px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
  }
}
