<div class="listing__events-cards">
  @loop('./event-card.html',[
  {
  "class": "listing__event-card",
  "img": "img/events-listing/Nirvana.png",
  "alt": "Nirvana",
  "title": "Собираемся и слушаем альбом Nirvana",
  "descr": "Это третий альбом группы...",
  "time":"07.12.2022 | начало 18.00",
  "datetime":"2022-12-07T18:00"
  },
  {
  "class": "listing__event-card",
  "img": "img/events-listing/stuff.png",
  "alt": "stuff",
  "title": "Есть тема, нужно обсудить с HowStuffWorks",
  "descr": "Один из самых популярных подкастов в мире...",
  "time":"14.12.2022 | начало 18.30",
  "datetime":"2022-12-14T18:30"
  },
  {
  "class": "listing__event-card",
  "img": "img/events-listing/Sade.png",
  "alt": "Sade",
  "title": "Есть тема, нужно обсудить с HowStuffWorks",
  "descr": "Музыка группы имеет эклектичный характер, сочетая в себе элементы музыки соу...",
  "time":"14.12.2022 | начало 18.30",
  "datetime":"2022-12-14T18:30"
  },
  {
  "class": "listing__event-card",
  "img": "img/events-listing/malevich.png",
  "alt": "stuff",
  "title": "Выставка Малевича в Томске",
  "descr": "Это будет самая полная выставка с 1988 года, того времени, когда вп...",
  "time":"14.12.2022 | начало 18.30",
  "datetime":"2022-12-14T18:30"
  },
  {
  "class": "listing__event-card",
  "img": "img/events-listing/art.png",
  "alt": "stuff",
  "title": "Мастер — класс по студийной съемке от Tatler",
  "descr": "Фотографы издания расскажут, как им удается создавать потрясающие ка...",
  "time":"14.12.2022 | начало 18.30",
  "datetime":"2022-12-14T18:30"
  },
  {
  "class": "listing__event-card",
  "img": "img/events-listing/the hatters.png",
  "alt": "stuff",
  "title": "Повесилимся на славу на концерте The Hatters",
  "descr": "Российская джипси-фолк-рок группа, основанная в 2016 году в Санкт-Петербурге. В основной...",
  "time":"14.12.2022 | начало 18.30",
  "datetime":"2022-12-14T18:30"
  }
  ])

</div>