<div class="events">
  <div class="events__listing listing">
    <h2 class="listing__section-title section-title">
      Мероприятия
    </h2>
    <div class="listing__events-cards">
      @loop('event-card.html',[
      {
      "class": "listing__event-card",
      "img": "img/Nirvana.png",
      "alt": "Nirvana",
      "title": "Собираемся и слушаем альбом Nirvana",
      "descr": "Это третий альбом группы...",
      "time":"07.12.2022 | начало 18.00",
      "datetime":"2022-12-07T18:00"
      },
      {
      "class": "listing__event-card",
      "img": "img/stuff.png",
      "alt": "stuff",
      "title": "Есть тема, нужно обсудить с HowStuffWorks",
      "descr": "Один из самых популярных подкастов в мире...",
      "time":"14.12.2022 | начало 18.30",
      "datetime":"2022-12-14T18:30"
      },
      {
      "class": "listing__event-card",
      "img": "img/stuff.png",
      "alt": "stuff",
      "title": "Есть тема, нужно обсудить с HowStuffWorks",
      "descr": "Один из самых популярных подкастов в мире...",
      "time":"14.12.2022 | начало 18.30",
      "datetime":"2022-12-14T18:30"
      }
      ])

    </div>
  </div>
</div>