<div class="lenni @class">
  <div class="lenni__container">
    <div class="lenni__title">арт — пространство</div>
    <picture class="lenni__img-picture">
      <source media="(max-width: 320px)" type="image/webp" srcset="../../img/LENNI-320.png">
    <img src="./img/LENNI.png" alt="lenni-main" class="lenni__img">
    </picture>
    <div class="lenni__box">
      <div class="lenni__title lenni__title-bottom">для людей, горящих сердец и делом
        место для настоящего</div>
      </div>

    </div>

  </div>
</div>
