<div class="lenni">
  <div class="lenni__container">
    <div class="lenni__title title">арт — пространство</div>
    <img src="./img/LENNI.png" alt="lenni-main" class="lenni__img">

    <div class="lenni__box">
      <div class="lenni__title title">для людей, горящих сердец и делом
        место для настоящего</div>
      <div class="lenni__txt">Я хочу:</div>
      <div class="lenni__two-btn">
        <div class="lenni__btn-red btn" id="make_event">
          Провести мероприятие
        </div>
        <a href="#" class="lenni__btn-trns btn">
          Стать арендатором
        </a>
      </div>

    </div>
    <a href="#" class="lenni__bigbtn bigbtn">
      О нас
    </a>
  </div>
</div>