<footer class="footer">
  <div class="footer__content">
    <div class="container">
      <div class="footer__border"></div>
      <div class="footer__inner">
        <div class="footer__link-block content">
          <blockquote class="footer__links">
            <a href="#" class="footer__link">Календарь мероприятий</a>
            <a href="#" class="footer__link">Провести мероприятие</a>
            <a href="#" class="footer__link">Стать арендатором</a>
            <a href="#" class="footer__link">Наши проекты</a>
            <a href="#" class="footer__link">Контакты</a>
          </blockquote>
        </div>
        <div class="footer__feedback">
          <span class="footer__txt">
            Подпишись и будь в курсе происходящего
          </span>
          <form class="footer__follow">
            <input class="footer__input field__input" type="email" placeholder="Email">
            <button class="footer__btn btn">Подписаться</button>
          </form>
          <label class="footer__check check">
            <input type="checkbox" class="check__input" name="agree" required checked>
            <span class="check__mark"></span>
            <span class="check__label check__label--s">Согласен на обработку персональных данных</span>
          </label>
        </div>
      </div>
    </div>

    <div class="footer__copyright">
      <div class="container">
        <p>© Millennials 2022</p>
        <div class="footer__bottom">
          <span class="footer__txt">
            Политика конфиденциальности
          </span>
          <span class="footer__txt footer__cookies">
            Cookies
          </span>

          <div class="footer__logo">

          </div>
          <div class="footer__bottom-right">
            <span class="footer__txt">
              Создание и продвижение
            </span>
            <img src="./img/tagree.png" alt="tagree" class="footer__tagree-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>