<div class="pp" id="pp">
  <div class="pp__block">
    <form class="form">
      <div class="form__radio radio">
        <div class="pp__top-part">
          <div class="pp__left-top">
            <span class="field__title"> Формат мероприятия: </span>
            <label class="radio__item">
              <input
                type="radio"
                class="radio__input"
                name="format"
                value="seminar"
                checked
              />
              <span class="radio__mark"></span>
              <span class="radio__name">Мастер-класс/семинар</span>
            </label>

            <label class="radio__item">
              <input
                type="radio"
                class="radio__input"
                name="format"
                value="concert"
                checked
              />
              <span class="radio__mark"></span>
              <span class="radio__name">Концерт/выступление</span>
            </label>

            <label class="radio__item">
              <input
                type="radio"
                class="radio__input"
                name="format"
                value="exhibition"
                checked
              />
              <span class="radio__mark"></span>
              <span class="radio__name">Выставка/показ</span>
            </label>

            <label class="radio__item">
              <input
                type="radio"
                class="radio__input"
                name="format"
                value="other"
                checked
              />
              <span class="radio__mark"></span>
              <span class="radio__name">Другое</span>
            </label>
          </div>

          <div class="pp__right-top">
            <label class="field form__field">
              <span class="field__title">
                Планируемое количество посетителей:
              </span>
              <select name="количество" id="" class="field__select">
                <option value="20">до 20 человек</option>
                <option value="100">от 20 до 100 человек</option>
                <option value="500">от 100 до 500 человек</option>
                <option value="1000">более 500 человек</option>
              </select>
            </label>
            <label class="field form__field">
              <span class="field__title"> Дата проведения: </span>
              <input type="date" class="field__input" name="name" required />
            </label>
          </div>
        </div>
      </div>
      <span class="field__title"> Контактные данные: </span>
      <div class="pp__middle-part">
        <div class="pp__middle-left">
          <label class="field form__field">
            <span class="field__label"> Имя* </span>
            <input
              type="text"
              class="field__input"
              name="name"
              required
              placeholder="Имя"
            />
          </label>

          <label class="field form_field">
            <span class="field__label"> Телефон* </span>
            <input
              type="number"
              class="field__input"
              name="tel"
              required
              placeholder="+7 (___) ___ __ __"
            />
          </label>
        </div>

        <div class="pp__middle-right">
          <label class="field form__field">
            <span class="field__label"> Фамилия* </span>
            <input
              type="text"
              class="field__input"
              name="second_name"
              required
              placeholder="Фамилия"
            />
          </label>

          <label class="field form__field">
            <span class="field__label"> Email* </span>
            <input
              type="email"
              class="field__input"
              name="email"
              required
              placeholder="Email"
            />
          </label>
        </div>
      </div>

      <label class="field form__field">
        <span class="field__title"> Есть пожелания? Напишите нам: </span>
        <textarea name="comment" class="field__textarea"> </textarea>
      </label>

      <label class="check">
        <input
          type="checkbox"
          class="check__input"
          name="agree"
          required
          checked
        />

        <span class="check__mark"></span>
        <span class="check__label check__label--s"
          >Я соглашаюсь с пользовательским соглашением и с политикой
          использования персональных данных</span
        >
      </label>

      <button type="submit" class="field__btn btn">Отправить</button>
    </form>
    <div class="pp__name">Заполните форму и мы подберем площадку</div>
    <div class="pp__close" id="pp__close"></div>
  </div>
</div>
