@import "../mixins";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg_color;
  background-image: url("../img/noise.png");
  background-size: auto, 100% auto;
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat-y;
  font-family: $font1;
  font-weight: 400;
  font-style: normal;
  font-size: $font_size;
  line-height: 1.375;
  overflow-x: hidden;
  color: $black;
  padding-top: 147px;

  @include media($max-w1660) {
    padding-top: 111px;
  }

  @include media($max-w1340) {
    background-image: url("../img/noise-1340w.png");
  }
  @include media($max-w768) {
    padding-top: 70px;
    background-image: url("../img/noise-768w.png");
  }
  @include media($max-w320) {
    background-image: url("../img/noise-320w.png");
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

a {
  color: $black;
  outline: none;
}
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-style: none;
}

.page__body {
  background-image: url("/img/fon1920.png");
}

input,
textarea,
select {
  box-shadow: none;
  outline: none;
  color: $black;
  font-family: $font1;
}

textarea {
  resize: none;
}

input,
textarea {
  &::placeholder {
    color: $placeholder_grey;
    transition: color 0.2s;
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

// td{
//   border: 1px solid $black_80;
// }

// html {
//   box-sizing: border-box;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

// .page {
//   height: 100%;
//   font-family: var(--font-family, sans-serif);
//   -webkit-text-size-adjust: 100%;
// }

// .page__body {
//   margin: 0;
//   min-width: 320px;
//   min-height: 100%;
//   font-size: 16px;
// }

// img {
//   height: auto;
//   max-width: 100%;
//   object-fit: cover;
// }

// a {
//   text-decoration: none;
// }

// .site-container {
//   overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
// }

// .is-hidden {
//   display: none !important; /* stylelint-disable-line declaration-no-important */
// }

// .btn-reset {
//   border: none;
//   padding: 0;
//   background-color: transparent;
//   cursor: pointer;
// }

// .list-reset {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .input-reset {
//   -webkit-appearance: none;
//   appearance: none;
//   border: none;
//   border-radius: 0;
//   background-color: #fff;

//   &::-webkit-search-decoration,
//   &::-webkit-search-cancel-button,
//   &::-webkit-search-results-button,
//   &::-webkit-search-results-decoration {
//     display: none;
//   }
// }

// .visually-hidden {
//   position: absolute;
//   overflow: hidden;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   width: 1px;
//   height: 1px;
//   clip: rect(0 0 0 0);
// }

// .container {
//   margin: 0 auto;
//   padding: 0 var(--container-offset);
//   max-width: var(--container-width);
// }

// .js-focus-visible :focus:not(.focus-visible) {
//   outline: none;
// }

// .centered {
//   text-align: center;
// }

// .dis-scroll {
//   position: fixed;
//   left: 0;
//   top: 0;
//   overflow: hidden;
//   width: 100%;
//   height: 100vh;
//   overscroll-behavior: none;
// }

// .page--ios .dis-scroll {
//   position: relative;
// }
