// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color: #fff;
}

%default-font{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

//main colors
$black:#1F1E1E;
$black_80: #BFBFBF;

$red: #bc3324;
$red_dark: #A51505;

$bg_color:#DEDEDE;


//fonts
$font:'Roboto', sans-serif;
$font1:'Open Sans', sans-serif;
$font2:'Lora', serif;
$font3:'mak', serif;


$font_size:16px;
$font_size_s:12.8px;
