:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color: #fff;
}

%default-font{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
//main colors
$black:#1F1E1E;
$black_80: #bfbfbf;

$red: #bc3324;
$red_dark: #A51505;

$bg_color:#DEDEDE;
$placeholder_grey:#6C6C6C;

//fonts
$font:'Roboto', sans-serif;
$font1:'Open Sans', sans-serif;
$font2:'Lora', serif;
$font3:'mak', serif;

$font_size:16px;
$font_size_s:12.8px;

//media
$max-w320: "(max-width:319px)";
$min-w200: "(min-width:200px)";

$max-w500: "(max-width:499px)";
$min-w500: "(min-width:501px)";

$max-w600: "(max-width:599px)";
$min-w600: "(min-width:600px)";

$max-w650: "(max-width:649px)";
$min-w650: "(min-width:650px)";

$max-w768: "(max-width:767px)";
$min-w768: "(min-width:768px)";

$max-w1020: "(max-width:1019px)";
$min-w1020: "(min-width:1020px)";

$max-w1170: "(max-width:1169px)";
$min-w1170: "(min-width:1170px)";

$max-w1340: "(max-width:1339px)";
$min-w1340: "(min-width:1340px)";

$max-w1660: "(max-width:1659px)";
$min-w1660: "(min-width:1660px)";



