// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color: #fff;
}

%default-font{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

//main colors
$black:#1F1E1E;
$black_80: #bfbfbf;

$red: #bc3324;
$red_dark: #A51505;

$bg_color:#DEDEDE;
$placeholder_grey:#6C6C6C;


//fonts
$font:'Roboto', sans-serif;
$font1:'Open Sans', sans-serif;
$font2:'Lora', serif;
$font3:'mak', serif;


$font_size:16px;
$font_size_s:12.8px;

//media
$max-w320: "(max-width:319px)";
$min-w320: "(min-width:320px)";

$max-w768: "(max-width:767px)";
$min-w768: "(min-width:768px)";

$max-w1020: "(max-width:1019px)";
$min-w1020: "(min-width:1020px)";

$max-w1340: "(max-width:1339px)";
$min-w1340: "(min-width:1340px)";

$max-w1370: "(max-width:1369px)";
$min-w1370: "(min-width:1370px)";

$max-w1660: "(max-width:1659px)";
$min-w1660: "(min-width:1660px)";
