// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
$hover-text: #A51505;

$default:#1F1E1E;

%default-font{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
