// базовые подключения
@import "./global/vars";
@import "./global/_fonts";
@import "_mixins.scss";
@import "./global/settings";

// @import "../global/_vars";
// @import "../global/_fonts";
// @import "../global/settings";

// подключения компонентов страницы


@import "./blocks/btn.scss";
@import "./blocks/section-title.scss";

@import "./blocks/event-card.scss";

@import "./blocks/blog-card.scss";
@import "./blocks/listing.scss";
@import "./blocks/reserve.scss";

@import "./blocks/event.scss";
@import "./blocks/events.scss";

@import "./blocks/header";
@import "./blocks/footer";

.site-container{
  width: 1334px;
  margin: 0 auto;
}

.listing__events-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

